streamlit==1.41.1
numpy==1.26.4
pandas==2.2.3
scikit-learn==1.5.2
joblib==1.4.2
Pillow==10.4.0

# critical: mediapipe + protobuf + opencv compatibility
protobuf==4.25.3
opencv-python-headless==4.8.1.78
mediapipe==0.10.14
